*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./font.scss";
@import "./../component/login/login.scss";
@import "./../component/change-password/change-password.scss";
@import "./../component/home/home.scss";
@import "./../component/password/password.scss";
@import "./../component/set-password/change-password.scss";
@import "./../component/verify-otp/verify-otp.scss";
@import "./../component/single-promotion/single-promotion.scss";
@import "./../component/single-post/single-post.scss";
@import "./../component/lisst-post/list-post.scss";
body{
    background: #888;
}

.layout{
    width: 375px;
    background: #fff;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    height: 93px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 23px;
    position: relative;
    &:after {
        content: "";
        background: #27ACA0;
        display: block;
        width: 100%;
        height: 1px;
        opacity: 0.5;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    img{
        cursor: pointer;
    }
}

ul{
    list-style: none;
}