<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/single-post.css">
</head>
<body style="background: #888;">
    <div class="layout">
        <header>
            <div class="icon-back">
                <img src="../../icon/icon-back.svg" alt="">
            </div>
            <div class="icon-close" style="opacity: 0;">
                <img src="../../icon/icon-close.svg" alt="">
            </div>
        </header>

        <div class="bg-single">
            <div class="box-img">
                <img src="../../images/banner-1.svg" alt="">
            </div>
        </div>

        <main>
            <div class="content-single-post">
                <span class="category">Tâm lý</span>
                <p class="post-name">Công ty Smart Health chi viện 3 xe khám bệnh cho Thành phố Bắc Giang</p>
                <p class="post-on-date">10/01/2022</p>
                <div class="post-content">
                    <p>Với đặc điểm có nhiều khu công nghiệp với hàng chục nghìn công nhân làm việc và sinh hoạt trong môi trường khép kín, nhà ăn tập thể, khu vệ dùng chung,… Bắc Giang có nguy cơ trở thành ổ dịch Covid-19 mới của Việt Nam trong đợt bùng phát lần thứ 4 khi các chủng virus SARS-CoV-2 mới lây lan rất nhanh, rất mạnh. Nếu không kiểm soát được ổ dịch này, khả năng lây lan ra các tỉnh, thành phố khác là rất lớn. JVC đã ngay lập tức liên hệ với Sở Y Tế Bắc Giang để trao đổi về việc hỗ trợ xe khám bệnh lưu động nhằm giúp các đơn vị y tế ở Bắc Giang sàng lọc, chẩn đoán và khoanh vùng dịch.</p>
                    <img src="../../images/banner-1.svg" alt="">
                </div>
            </div>
        </main>

        <footer>
            <ul class="list-footer">
                <li class="active">
                    <div class="box-img">
                        <img src="../../icon/icon-home.svg" alt="">
                    </div>
                    <div class="box-txt">
                        Trang chủ
                    </div>
                </li>
                <li>
                    <div class="box-img">
                        <img src="../../icon/icon-add.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="box-img">
                        <img src="../../icon/icon-profile.svg" alt="">
                    </div>
                    <div class="box-txt">
                        Cá nhân
                    </div>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>