<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/single-promotion.css">
</head>
<body style="background: #888;">
    <div class="layout">
        <header>
            <div class="icon-back">
                <img src="../../icon/icon-back.svg" alt="">
            </div>
            <div class="title">
                <p>Ưu đãi cho bạn</p>
            </div>
            <div class="icon-close" style="opacity: 0;">
                <img src="../../icon/icon-close.svg" alt="">
            </div>
        </header>

        <div class="header-search">
            <input type="text" name="" id="" placeholder="Nhập từ khóa bạn muốn tìm kiếm">
            <img src="../../icon/icon-search.svg" alt="">
        </div>

        <main>
            <ul class="list-promotion">
                <li>
                    <img src="../../images/banner-post.svg" alt="">
                </li>
                <li>
                    <img src="../../images/banner-post.svg" alt="">
                </li>
                <li>
                    <img src="../../images/banner-post.svg" alt="">
                </li>
            </ul>
        </main>

        <footer>
            <ul class="list-footer">
                <li class="active">
                    <div class="box-img">
                        <img src="../../icon/icon-home.svg" alt="">
                    </div>
                    <div class="box-txt">
                        Trang chủ
                    </div>
                </li>
                <li>
                    <div class="box-img">
                        <img src="../../icon/icon-add.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="box-img">
                        <img src="../../icon/icon-profile.svg" alt="">
                    </div>
                    <div class="box-txt">
                        Cá nhân
                    </div>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>