<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/password.css">
</head>
<body style="background: #888;">
    <div class="layout">
        <header>
            <div class="icon-back">
                <img src="../../icon/icon-back.svg" alt="">
            </div>
            <div class="icon-close">
                <img src="../../icon/icon-close.svg" alt="">
            </div>
        </header>

        <main>
            <div class="logo">
                <img src="../../images/logo-login.svg" alt="">
            </div>
            <div class="box-login">
                <h1 class="title">NHẬP MẬT KHẨU</h1>
                <div class="box-input">
                    <input type="text" placeholder="Nhập mật khẩu của bạn">
                    <img src="../../icon/icon-eye.svg" alt="">
                </div>
                <p class="note" style="color: #3A40CB; cursor: pointer;">Quên mật khẩu</p>
                <button>Tiếp tục</button>
            </div>
        </main>
    </div>
</body>
</html>