<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/verify-otp.css">
</head>
<body style="background: #888;">
    <div class="layout">
        <header>
            <div class="icon-back">
                <img src="../../icon/icon-back.svg" alt="">
            </div>
            <div class="icon-close">
                <img src="../../icon/icon-close.svg" alt="">
            </div>
        </header>

        <main>
            <div class="logo">
                <img src="../../images/logo-login.svg" alt="">
            </div>
            <div class="box-login">
                <h1 class="title">XÁC THỰC OTP</h1>
                <div class="box-otp">
                    <input type="number" name="" id="">
                    <input type="number" name="" id="">
                    <input type="number" name="" id="">
                    <input type="number" name="" id="">
                    <input type="number" name="" id="">
                    <input type="number" name="" id="">
                </div>
                <p class="text">
                    Bạn có thể yêu cầu gửi lại mã OTP sau <span style="color: #27ACA0">60</span> giây. <u style="color: #3A40CB">Gửi lại OTP</u>
                </p>
                <button>Tiếp tục</button>
            </div>
        </main>
    </main>
</body>
</html>