main{
    .box-login{
        .box-input{
            text-align: left;
            margin-bottom: 29px;
            input{
                text-align: left;
                width: calc(100% - 40px);
            }
        }
        ul.note-password {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            font-size: 8px;
            font-family: Montserrat-Medium;
            line-height: 10px;
            color: #FF0000;
            opacity: 0.5;
            text-align: left;
            margin-bottom: 30px;
            list-style: none;
            li{
                position: relative;
                padding-left: 9px;
                &:before {
                    content: " ";
                    background: #FF0000;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 2px;
                    transform: translate(-50%,-50%);
                }
            }
        }

        button{
            margin-top: 9px;
        }
    }
}