<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/change-password.css">
</head>
<body style="background: #888;">
    <div class="layout">
        <header>
            <div class="icon-back">
                <img src="../../icon/icon-back.svg" alt="">
            </div>
            <div class="icon-close">
                <img src="../../icon/icon-close.svg" alt="">
            </div>
        </header>

        <main>
            <div class="logo">
                <img src="../../images/logo-login.svg" alt="">
            </div>
            <div class="box-login">
                <h1 class="title">THIẾT LẬP MẬT KHẨU</h1>

                <div class="box-input">
                    <input type="text" placeholder="Nhập mật khẩu của bạn">
                    <img src="../../icon/icon-eye.svg" alt="">
                </div>
                <ul class="note-password">
                    <li>Tối thiểu 6 ký tự</li>
                    <li>Có 1 ký tự chữ in hoa</li>
                    <li>Có 1 ký tự đặc biệt</li>
                    <li>Có 1 ký tự số </li>
                </ul>
                <div class="box-input">
                    <input type="text" placeholder="Xác nhận mật khẩu mới">
                    <img src="../../icon/icon-eye.svg" alt="">
                </div>

                <button>Tiếp tục</button>
            </div>
        </main>
    </main>
</body>
</html>