header{
    .title{
        font-size: 15px;
        line-height: 18px;
        color: #272727;
        font-family: Montserrat-Bold;
    }
    &:after{
        display: none !important;
    } 
}

.header-search{
    position: relative;
    background: #FFFFFF;
    border-radius: 16px;
    height: 28px;
    width: calc(100% - 42px);
    margin: 0 auto;
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        height: 12px;
        padding: 0 37px;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
    }
    img{
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 15px;
        transform: translate(0,-50%);
    }
}

main{
    ul.list-tab-post {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 12px;
        margin: 12px 0 45px 0;
        li{
            height: 28px;
            background: none;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #272727;
            font-family: Montserrat-Bold;
            transition: all 0.5s;
            &.active{
                color: #FFFFFF;
                background: #27ACA0;
            }
        }
    }
    ul.list-content-post{
        li{
            margin-bottom: 20px;
            .box-txt{
                padding: 5px 0 3px 14px;
                p{
                    font-size: 10px;
                    line-height: 12px;
                    color: #272727;
                    font-family: Montserrat-Bold;
                }
            }
        }
        
    }
}